<div class="card app-list">
  <div class="card-body">
    <div class="card-title">
      <app-title-editor [value]="data.name" #title></app-title-editor>
      
      <div ngbDropdown class="dropdown-container">
        <button class="btn btn-light list-options-btn" ngbDropdownToggle>
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="title.enableEditting()">Edit title</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem class="text-danger">Delete</button>
        </div>
      </div>

    </div>
   
    <div cdkDropList [cdkDropListData]="data.tasks" (cdkDropListDropped)="drop($event)" class="drop-list-container">
      <app-task *ngFor="let task of data.tasks" [data]="task" cdkDrag (click)="openCardEditor(task)"></app-task>
    </div>

    <button *ngIf="!newTaskFormDisplayed" class="btn btn-light add-btn" (click)="newTaskFormDisplayed = true">
      <i class="fa fa-plus add-icon"></i>
      <span>
        Add new card
      </span>
    </button>

    <app-new-task-form
      *ngIf="newTaskFormDisplayed"
      (close)="newTaskFormDisplayed = false"
      (submit)="addNewCard($event)">
    </app-new-task-form>
  </div>
</div>