<div class="card app-list">
  <div class="card-body">
    <div class="card-title">
      <h5>
        {{ data.name }}
      </h5>
      <button class="btn btn-light list-options-btn">
        <i class="fa fa-ellipsis-h"></i>
      </button>
    </div>
   
    <div cdkDropList [cdkDropListData]="data.tasks" (cdkDropListDropped)="drop($event)" class="drop-list-container">
      <app-task *ngFor="let task of data.tasks" [data]="task" cdkDrag></app-task>
    </div>

    <button *ngIf="!newTaskFormDisplayed" class="btn btn-light add-btn" (click)="newTaskFormDisplayed = true">
      <i class="fa fa-plus add-icon"></i>
      <span>
        Add new card
      </span>
    </button>

    <app-new-task-form
      *ngIf="newTaskFormDisplayed"
      (close)="newTaskFormDisplayed = false"
      (submit)="addNewCard($event)">
    </app-new-task-form>
  </div>
</div>