

<button *ngIf="!editMode" class="btn btn-light add-btn" (click)="enableEditing()">
  <i class="fa fa-plus add-icon"></i>
  <span>
    Add new {{ itemType }}
  </span>
</button>


<form *ngIf="editMode">
  <textarea
    #input
    name="card-title"
    [formControl]="formControl"
    class="card task-title-input"
    autofocus 
    [placeholder]="placeholder"
    required>
  </textarea>

  <button type="button" class="btn btn-primary" (click)="onSubmit()">
    Add {{ itemType }}
  </button>
  <button class="btn" (click)="onDiscard()">
    <i class="fa fa-times"></i>
  </button>
</form>