<div [formGroup]="form">
  <div class="modal-header">
    <div>
      <app-title-editor formControlName="title"></app-title-editor>
      <div>in column <span class="column-name text-primary">{{ options.columnName }}</span></div>
    </div>
  
    <button class="btn" (click)="dismiss()">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="desc">Description</label>
      <textarea class="form-control" id="desc" rows="3" formControlName="description">
      </textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="delete()">
      Delete
    </button>
    <button type="button" class="btn btn-primary" (click)="submit()">
      Save
    </button>
  </div>
</div>