<div class="card app-list">
  <div class="card-body">
    <div class="card-title">
      <app-title-editor [formControl]="columnTitleControl" #title></app-title-editor>
      
      <div ngbDropdown class="dropdown-container">
        <button class="btn btn-light list-options-btn" ngbDropdownToggle>
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="title.enableEditing()">Edit title</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem class="text-danger" (click)="deleteClick()">Delete</button>
        </div>
      </div>

    </div>
   
    <div cdkDropList [cdkDropListData]="data.cards" [id]="data.id" (cdkDropListDropped)="drop($event)" class="drop-list-container">
      <app-card *ngFor="let card of data.cards" [data]="card" cdkDrag (click)="openCardEditor(card)"></app-card>
    </div>

    <app-new-item-form
      itemType="card"
      (submit)="addNewCard($event)">
    </app-new-item-form>
  </div>
</div>