.app-list {
  width: 18rem;

  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .drop-list-container {
    min-height: 1rem;
  }

  .dropdown-container {
    margin-left: 1rem;
  }

  .list-options-btn {
    border-radius: 50%;

    &.dropdown-toggle::after {
      display: none;
    }
  }

  app-card {
    margin-bottom: 0.5rem;
  }

  .add-btn {
    width: 100%;
    
    .add-icon {
      margin-right: 0.5rem;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0.5;
  border: 1px dashed gray;
  border-radius: 0.25rem;
  color: gray;
}