/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  "primary": #8c7db6,
  "danger": #fb565b,
  "light": #F2F2F2
);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


// Fix backdrop bkg
.modal-backdrop {
  width: 100%;
  height: 100%;
}

body {
  background: #d9d5e4;
}
